<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <services>
      <service name="Tasks.Services.TaskManagerService" 
			   behaviorConfiguration="Tasks.Services.TaskServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8081/Tasks" />
            <add baseAddress = "net.tcp://localhost:8081/Tasks" />
          </baseAddresses>
        </host>
		  
        <endpoint address ="TaskManager" 
				  binding="basicHttpBinding" 
				  contract="Tasks.Services.ITaskManagerService" />
		  
        <endpoint address="mex" 
				  binding="mexHttpBinding" 
				  contract="IMetadataExchange" />
		  
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Tasks.Services.TaskServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
